@import "./variables.css";
.Main_footer {
  width: 100%;
  min-height: 3.5em;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: var(--nav-bg-color);
}
.Main_footer div {
  width: 25%;
  height: 3.5em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main_footer div .Icon_container {
  width: 80%;
  height: 80%;
}

.Main_footer div .Icon_container svg {
  stroke: var(--BoxMajor);
  fill: none;
  max-height: 70%;
  max-width: 70%;
  min-width: 50%;
  min-height: 50%;
}

.Main_footer div .Icon_container2 {
  width: 80%;
  height: 80%;
}

.Main_footer div .Icon_container2 svg {
  stroke: none;
  fill:var(--BoxMajor) ;
  max-height: 70%;
  max-width: 70%;
  min-width: 50%;
  min-height: 50%;
}

.Main_footer .active .Icon_container svg,.Main_footer .active .Icon_container2 SVG {
  stroke: var(--active);
  fill: var(--active);
  max-height: 70%;
  max-width: 70%;
  min-width: 50%;
  min-height: 50%;
  transition: 0.5s;
  
}

.Main_footer .active .doc svg line {
  stroke: var(--background);
}
.Main_footer .active .setting svg circle {
  fill: var(--background);
}



