@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
.small-title-font {
  color: var(--FontMinor);
  font-size: clamp(0.7em, 1%, 1.5em);
  font-weight: medium;
}
*::before,
*::after {
  box-sizing: border-box;
}

input {
  caret-color: red;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
button,
select,
span {
  font-family: var(--Raleway);
  user-select: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input::placeholder {
  color: var(--placeholder);
}
.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
