.Main_home{
    width:100%;
    max-height: 86%;
    min-height: 86%;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top:4.2em ;
    z-index: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.Main_home::-webkit-scrollbar {
    display: none;
  }
  